<footer class="text-center" style="padding: 20px;
              background: whitesmoke; position: initial;
    width: 100%;
    bottom: 0px
              ">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                Copyright ©
            </div>
        </div>
    </div>
</footer>