<!DOCTYPE html>
<html ng-app="movie">

<head>
    <script src="/javascripts/movie/detail.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
    crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <!-- <link rel="stylesheet" href="/resources/demos/style.css"> -->
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <script src="/javascripts/index.js"></script>

</head>

<body ng-controller="listMovieController">
  <% include header.ejs %>


  <!-- <div ng-repeat="movie in listMovie">
    <img src="/images/test.jpg" style="margin-top: 100px">
    <h2>{{movie.tenPhim}}</h2>
    <p><span>Thể loại: </span>{{movie.theLoai}}</p>
    <p><span>Ngày ra mắt: </span>{{movie.ngayRaMat| date:'dd-MM-yyyy' }} </p>
  </div> -->
  <span class="border border-secondary">
  <div class="row" style=" background-color: coral;">
    <div class="col-md-12">
        
      <div class="col-md-3" ng-repeat="movie in listMovie" style="float: left ; margin-top:10px">
        <a href="/{{movie._id}}" style="text-decoration: none; color:black">
        
          <img ng-src="/images/test.jpg" style="margin-top:40px">
          <div class="detail">
            <h2 class="name-film ng-binding"> {{movie.tenPhim}} </h2>
            <p class="content-film ng-binding">
              <span class="my-text-bold"> Thể loại: </span>{{movie.theLoai}} </p>
            <p class="content-film ng-binding" ng-init="content=minContentFilm(film)">
              <span class="my-text-bold"> Ngày ra mắt: </span>{{movie.ngayRaMat| date:'dd-MM-yyyy' }}</p>
          </div>
        </a>
      </div>
    </div>
  </div>


  <% include footer.ejs %>
</body>

</html>