<!DOCTYPE html>
<html ng-app="movie" ng-controller="detailsController">

<head >

    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
        crossorigin="anonymous">
        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>

<body>
    <% include ../header.ejs %>
    
<form role="form" >
        <p class="hide" id="film-id"></p>
        <div class="container col-sm-12 col-md-5 my-upload-image text-center animated fadeIn"style="    margin-top: 50px;
        margin-bottom: 50px;">
          <img src="/images/{{phim.image}}" style="margin-top: 10px;height: 300px; width:400px;object-fit: cover;">
        </div>

        <div class="container col-sm-6 col-md-4 my-form-film animated flipInX">
                <div class="from-group title-center ">
                        <span style="font-size:50px "> {{phim.tenPhim}} </span>
                    </div>

            <div class="form-group">
                <span style="font-size:28px"><strong style="font-size:30px">Thể loại phim:</strong>{{phim.theLoai}}</span>
            </div>

            <div class="form-group">
                <span style="font-size:28px"><strong style="font-size:30px"> Thời gian phát hành: </strong>{{phim.ngayRaMat| date:'dd-MM-yyyy' }}</span>
            </div>

            <div class="form-group">
                   <span style="font-size:28px"> <strong style="font-size:30px">Nội dung mô tả:</strong> {{phim.noiDung}} </span>
                  
            </div>
            
        </div>
        <div class="container my-container-right my-bot-form">
            <button type="submit" class="btn btn-primary my-btn text-center animated slideInUp" ng-click="clickUpLoadFilm()" style="margin-right:15px">
                <i class="fa fa-edit fa-lg" ></i>
                   Sửa
            </button>
        </div>
        
    </form>
    
        <!-- Modal Show Image  -->
        <!-- <div class="modal fade animated zoomIn my-modal-image" id="modalImage" tabindex="-1" aria-hidden="true">
            <div class="text-center" style="margin: 50px">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-close fa-2x" aria-hidden="true" style="color:white"></i>
                </button>
            </div>
            <img ng-src="https://firebasestorage.googleapis.com/v0/b/filmapplication-9a88c.appspot.com/o/imagess%2FIMG1501950100367.JPG?alt=media&amp;token=1e840f7c-6f78-48d0-b491-12315f98527c"
                src="https://firebasestorage.googleapis.com/v0/b/filmapplication-9a88c.appspot.com/o/imagess%2FIMG1501950100367.JPG?alt=media&amp;token=1e840f7c-6f78-48d0-b491-12315f98527c">
        </div>
    </div> -->
    <footer >
        <% include ../footer.ejs %>
    </footer>

    <p id="id" class="hide"><%= id %></p>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/javascripts/movie/details.js"></script>

</html>




