<!DOCTYPE html>
<html ng-app="movie">
<head>
    
    <link rel="shortcut icon" href="../images/icon.jpg" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- <link rel="stylesheet" href="/resources/demos/style.css"> -->
    <% include ../header.ejs %>

</head>
<body>
<div id="login-container" class="parent ng-scope" ng-controller="loginController">
        <div class="container" >
            <div class="col-md-6" style="margin: 0 auto">
                <form name="createForm" ng-validate="validationOptions" class="sign-up-form ng-pristine ng-valid ng-isolate-scope" novalidate="novalidate" >
                    <div class="col-md-12" style="margin-top:50px;margin-bottom:50px">
                        <h1 class="text-center " style="    font-size: -webkit-xxx-large;
                        "><strong>Đăng Nhập</strong></h1>
                    </div>
                    <div class="form-group">
                        <label for="email" style="font-size: 20px">Email:</label>
                        <input name="email" ng-model="email" type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" id="email" placeholder="Email">
                    </div>
                    <div class="form-group" style="font-size: 20px">
                        <label for="pwd">Mật khẩu:</label>
                        <input name="password" ng-model="password" type="password" class="form-control ng-pristine ng-untouched ng-valid ng-empty" id="pwd" placeholder="Mật khẩu">
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <!-- <a data-toggle="modal" data-target="#myModal" class="forgot-link" href="#">Quên
                                mật khẩu ? -->
                            </a>
                            </div>
                        <button style=" margin-left: auto;"type="submit" ng-click="dangNhap()" id="register-button" class="btn-login create-form-button btn btn-primary">Đăng
                            nhập
                        </button>
                    </div>
                    <!-- <hr>
                    <div class="row external-login-content">
                        <div class="col-md-6">
                            <a href="/api/auth/google" class="btn btn-block btn-social btn-lg btn-google">
                                <span class="fa fa-google"></span> Google
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="/api/auth/facebook" class="btn btn-block btn-social btn-lg btn-facebook">
                                <span class="fa fa-facebook"></span> Facebook
                            </a>
                        </div>
                    </div> -->
                    
                </form>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h3 class="text-center modal-title my-modal-title">Khôi phục mật khẩu</h3>
                    </div>
                    <form name="emailForm" ng-validate="validationOptions" class="ng-pristine ng-valid ng-isolate-scope" novalidate="novalidate">
                        <div class="modal-body text-center">
                            <div class="form-group">
                                <label for="email">Nhập email của bạn:</label>
                                <input name="email" ng-model="confirmEmail" type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" placeholder="Email">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" ng-click="forgotPassword()" class="create-form-button btn btn-primary">Gửi</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="stylesheet" href="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(function () {
        $("#datepicker").datepicker();
        $("#datepicker").datepicker("setDate", new Date());
    });
</script>

<script src="/javascripts/users/signin.js"></script>

<% include ../footer.ejs %>

</html>