<div id="login-container" class="parent ng-scope" ng-controller="LoginController">
        <div class="container">
            <div class="col-md-6 col-md-offset-3">
                <form name="createForm" ng-validate="validationOptions" class="sign-up-form ng-pristine ng-valid ng-isolate-scope" novalidate="novalidate">
                    <div class="col-md-12">
                        <h1 class="text-center"><strong>Đăng Nhập</strong></h1>
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input name="email" ng-model="email" type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" id="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="pwd">Mật khẩu:</label>
                        <input name="password" ng-model="password" type="password" class="form-control ng-pristine ng-untouched ng-valid ng-empty" id="pwd" placeholder="Mật khẩu">
                    </div>
                    <div class="row">
                        <div class="col-md-6"><a data-toggle="modal" data-target="#myModal" class="forgot-link" href="#">Quên
                                mật khẩu ?</a></div>
                        <button type="submit" ng-click="login()" id="register-button" class="btn-login create-form-button btn btn-primary">Đăng
                            nhập
                        </button>
                    </div>
                    <hr>
                    <div class="row external-login-content">
                        <div class="col-md-6">
                            <a href="/api/auth/google" class="btn btn-block btn-social btn-lg btn-google">
                                <span class="fa fa-google"></span> Google
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="/api/auth/facebook" class="btn btn-block btn-social btn-lg btn-facebook">
                                <span class="fa fa-facebook"></span> Facebook
                            </a>
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h3 class="text-center modal-title my-modal-title">Khôi phục mật khẩu</h3>
                    </div>
                    <form name="emailForm" ng-validate="validationOptions" class="ng-pristine ng-valid ng-isolate-scope" novalidate="novalidate">
                        <div class="modal-body text-center">
                            <div class="form-group">
                                <label for="email">Nhập email của bạn:</label>
                                <input name="email" ng-model="confirmEmail" type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" placeholder="Email">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" ng-click="forgotPassword()" class="create-form-button btn btn-primary">Gửi</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>